#!/bin/bash
func_poll_gitlab() {
    previous_sha="0"
    while true
    do
        current_sha=$(gitlab -o json project-pipeline list --project-id 18777865 | jq -c '[.[] | select( .status == "success" and .ref == "{{ blog_branch }}")][0] .sha')
        echo $current_sha
        echo $previous_sha
        if [ "$current_sha" == "$previous_sha" ]; then
            echo "no new builds, skipping.."
        else
            echo "new build found, deploying"
            cd /home/blog-user/Projects/application
            git pull origin master
            previous_sha=$current_sha
        fi
        sleep 1
    done
}

func_poll_gitlab &
