http {
    upstream blog_servers {
        {% for host in load_balancer_backends %}
        server {{ host }}:8080,
        {% endfor %}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://blog_servers;
        }
    }
}